<div class="flex flex-col items-center justify-center mx-auto my-20 bg-fixed bg-center bg-cover">

<div
    class="w-full bg-white rounded-lg shadow shadow-yellow-300 border-gray-600 md:mt-0 sm:max-w-screen-md xl:p-0">
    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Change Password
        </h1>

        <form #empForm="ngForm" (ngSubmit)="updatePassword(empForm)" class="space-y-4 md:space-y-6">
            <div class="sm:gap-8  sm:grid sm:grid-cols-2 sm:grid-rows-2">

            <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
                <input type="text" name="email" id="email" [(ngModel)]="changePassword.email" #email="ngModel" required
                    autocomplete="off" disabled=""
                    class="bg-gray-50 input input-bordered text-gray-900 rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="name@company.com">
                <div class="sm:h-4 h-8">
                </div>
            </div>

            <div>
                <label for="oldPassword"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password</label>
                <div class="relative">
                    <input [type]="pType" name="oldPassword" id="oldPassword" [(ngModel)]="changePassword.oldPassword"
                        #oldPassword="ngModel" required autocomplete="off" placeholder="••••••••"
                        [ngClass]="{ ' border-red-500': (this.isInvalid && !this.validatePassword() ), 'border-gray-300': ! (this.isInvalid && !this.validatePassword() ) }"
                        class="bg-gray-50 input input-bordered text-gray-900 rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
                    <svg *ngIf="!eyeOld" class="w-4 absolute top-4 right-3" (click)="viewPassOld()" fill="#000000"
                        version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612 612" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			S451.856,225.446,451.856,306S386.554,451.855,306,451.855z" />
                                <path d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z" />
                            </g>
                        </g>
                    </svg>
                    <svg *ngIf="eyeOld" class="w-4 absolute top-4 right-3" (click)="viewPassOld()" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>

            </div>

            <div>
                <label for="newPassword"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
                <div class="relative">
                    <input [type]="pType" name="newPassword" id="newPassword" [(ngModel)]="changePassword.newPassword"
                        #newPassword="ngModel" required autocomplete="off" placeholder="••••••••"
                        [ngClass]="{ ' border-red-500': (this.isInvalid && !this.validatePassword() ), 'border-gray-300': ! (this.isInvalid && !this.validatePassword() ) }"
                        class="bg-gray-50 input input-bordered text-gray-900 rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 ">
                    <svg *ngIf="!eye" class="w-4 absolute top-4 right-3" (click)="viewPass()" fill="#000000"
                        version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 612 612" xml:space="preserve">
                        <g>
                            <g>
                                <path d="M609.608,315.426c3.19-5.874,3.19-12.979,0-18.853c-58.464-107.643-172.5-180.72-303.607-180.72
			S60.857,188.931,2.393,296.573c-3.19,5.874-3.19,12.979,0,18.853C60.858,423.069,174.892,496.147,306,496.147
			S551.143,423.069,609.608,315.426z M306,451.855c-80.554,0-145.855-65.302-145.855-145.855S225.446,160.144,306,160.144
			S451.856,225.446,451.856,306S386.554,451.855,306,451.855z" />
                                <path d="M306,231.67c-6.136,0-12.095,0.749-17.798,2.15c5.841,6.76,9.383,15.563,9.383,25.198c0,21.3-17.267,38.568-38.568,38.568
			c-9.635,0-18.438-3.541-25.198-9.383c-1.401,5.703-2.15,11.662-2.15,17.798c0,41.052,33.279,74.33,74.33,74.33
			s74.33-33.279,74.33-74.33S347.052,231.67,306,231.67z" />
                            </g>
                        </g>
                    </svg>
                    <svg *ngIf="eye" class="w-4 absolute top-4 right-3" (click)="viewPass()" viewBox="0 0 24 24"
                        fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 2L22 22" stroke="#000000" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M6.71277 6.7226C3.66479 8.79527 2 12 2 12C2 12 5.63636 19 12 19C14.0503 19 15.8174 18.2734 17.2711 17.2884M11 5.05822C11.3254 5.02013 11.6588 5 12 5C18.3636 5 22 12 22 12C22 12 21.3082 13.3317 20 14.8335"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M14 14.2362C13.4692 14.7112 12.7684 15.0001 12 15.0001C10.3431 15.0001 9 13.657 9 12.0001C9 11.1764 9.33193 10.4303 9.86932 9.88818"
                            stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <div class="sm:h-4 h-8">
                    <div *ngIf="(!this.validatePassword() && (newPassword.dirty || newPassword.touched)) || (this.isInvalid && !validatePassword())"
                        class="text-red-500 text-xs p-2">{{
                        errors.newPassword }}</div>
                </div>

            </div>

            <div>
                <label for="confirmPassword"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                    Password</label>
                <input [type]="pType" name="confirmPassword" id="confirmPassword"
                    [(ngModel)]="confirmPass.confirmPassword" #confirmPassword="ngModel" required autocomplete="off"
                    placeholder="••••••••"
                    [ngClass]="{ ' border-red-500': (this.isInvalid && !this.validateConfirmPassword() ), 'border-gray-300': ! (this.isInvalid && !this.validateConfirmPassword() ) }"
                    class="bg-gray-50 input input-bordered text-gray-900 rounded-lg  block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <div class="sm:h-4 h-8">
                    <div *ngIf="(!this.validateConfirmPassword() && (confirmPassword.dirty || confirmPassword.touched)) || (this.isInvalid && !validateConfirmPassword())"
                        class="text-red-500 text-xs p-2">{{
                        errors.confirmPassword }}</div>
                </div>

            </div>
        </div>

            <div class="flex sm:justify-end justify-between max-sm:flex-col-reverse ">

                <button type="submit"
                    class="btn btn-primary text-white hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-3  font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Confirm
                </button>

            </div>

        </form>
    </div>
</div>
</div>