<div
  class="p-2 bg-white border border-gray-200 rounded-lg shadow-md shadow-yellow-300 dark:bg-gray-800 dark:border-gray-700 w-full animate-slideDown">
  <div class="flex items-center justify-between">
    <h1 class="text-xs font-bold text-blue-900 uppercase">Employee Logs</h1>
    <div class="flex items-center space-x-4 ml-auto">
      <div class="flex items-center space-x-2">
        <label for="date-input" class="mr-2 text-blue-900 dark:text-white font-medium">Date:</label>
        <input id="date-input" type="date" [(ngModel)]="selectedDate" (change)="onDateChange()"
          class="px-2 py-1 border border-blue-900 rounded-md text-base dark:bg-yellow-700 dark:text-white focus:outline-none focus:ring focus:border-blue-300" />
      </div>

      <div *ngIf="roleId == 2"
        class="search-box relative flex flex-wrap items-center border border-gray-300 rounded-lg p-2 space-x-2 dark:text-white focus:outline-none focus:ring focus:border-blue-300">
        <div class="tags flex flex-wrap space-x-2 ">
          <span *ngFor="let term of searchTerms"
            class="tag bg-blue-100 text-blue-800 px-3 py-1 rounded-full flex items-center">
            {{ term }}
            <span class="remove-tag ml-2 text-red-600 cursor-pointer font-bold" (click)="removeTerm(term)">
              ×
            </span>
          </span>
        </div>
        <input type="text" [(ngModel)]="searchInput" (input)="onInputChange()" (keydown.enter)="addTerm()"
          placeholder="Search..." class="flex-grow border-none outline-none bg-transparent placeholder-gray-500 text-sm"
          (keydown)="handleKeyDown($event)" />
          <ul *ngIf="filteredSuggestions.length > 0"
            class="absolute overflow-x-auto max-h-[60vh] top-full left-0 w-full bg-white border border-gray-300 rounded-lg mt-1 z-10 shadow-lg">
            <li *ngFor="let suggestion of filteredSuggestions" (click)="selectSuggestion(suggestion)"
              class="flex items-center px-4 py-2 hover:bg-gray-100 cursor-pointer">
              <img [src]="'data:image/jpeg;base64,' + suggestion.profilePic" alt="Profile Picture"
                class="w-8 h-8 rounded-full mr-2" />
              <span>{{ suggestion.fullName }}</span>
            </li>
          </ul>
      </div>
      <div class="relative group inline-block">
        <button title="Export to CSV" (click)="exportToCSV()"
          class="transition ease-in-out hover:-translate-y-1 hover:scale-100 duration-300">
          <i class="fa-solid fa-file-csv fa-2xl" style="color: #1fb141;"></i>
        </button>
        <span class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 hidden group-hover:inline-block px-2 py-1 text-xs font-medium text-white bg-green-600 rounded-lg shadow-sm whitespace-nowrap">
          Export to CSV
        </span>
      </div>
    </div>
  </div>
  <hr class="my-2 border-gray-300 dark:border-gray-600">
  <div class="flex items-center justify-between mb-1">
  </div>
  <div *ngIf="!inCount && !outCount" class="flex justify-center space-x-4">
    <span class=" text-white"></span>
  </div>
  <div *ngIf="inCount && tabs.at(1)" class="flex justify-center space-x-4 mt-2">
    <span class="text-sm font-medium text-green-500">In : {{ inCount }}</span>
  </div>
  <div *ngIf="outCount && tabs.at(2)" class="flex justify-center space-x-4 mt-2">
    <span class="text-sm font-medium text-red-500 dark:text-gray-400">Out : {{ outCount }}</span>
  </div>
  <app-table-with-tabs [tabs]="tabs" [tabNames]="tabNames" [data]="employeeLogData" [columns]="columns"
    [ngClass]="{'hidden':!isDataLoaded}" (filteredDataChange)="onFilteredDataChange($event)"
    (tabChanged)="onTabChanged($event)" class="max-h-96"></app-table-with-tabs>
  <div class="flex justify-center" [ngClass]="{'hidden':isDataLoaded}">
    <app-loader></app-loader>
  </div>
</div>